@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600;900&family=Roboto:wght@400;900&display=swap");

:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
  --main-orange: #eca726;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: url("/assets/img/background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: blur(2px);
  filter: blur(1px);
  border: none;
  opacity: 0.75;
} */

body {
  font-family: "Roboto", arial, sans-serif;
  color: var(--main-white);
}

#navbar {
  margin: 0 auto;
  padding: 0.5rem 0;
  background-color: var(--main-red);
  position: sticky;
  top: 0;
}

#navlist {
  list-style-type: none;
  text-align: center;
  line-height: 1.5;
  font-size: 1.5rem;
  /* margin-left: -30px; */
}

#logo {
  width: 100%;
  max-width: 4rem;
  height: auto;
}

#navlist a {
  text-decoration: none;
}

#navlist a:link {
  color: var(--main-white);
}
#navlist a:visited {
  color: var(--main-white);
}
#navlist a:hover {
  color: var(--main-orange);
}
#navlist a:active {
  color: var(--main-orange);
}
#navlist a:focus {
  color: var(--main-orange);
}

#welcome-section {
  height: 100vh;
  text-align: center;
  background-color: var(--main-gray);
  padding-top: 8rem;
}

#welcome-header {
  font-size: 3rem;
  font-weight: 400;
  font-family: "Fira Sans", arial, sans-serif;
  letter-spacing: 2px;
}

#welcome-p {
  font-size: 1.75rem;
}

#projects {
  background-color: var(--main-blue);
}

#contact {
  background-color: var(--main-gray);
}

@media only screen and (min-width: 768px) {
  #navlist {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 992px) {
}
