@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;600;900&display=swap");

:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
  --main-orange: #eca726;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: url("/assets/img/background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: blur(2px);
  filter: blur(1px);
  border: none;
  opacity: 0.75;
} */

body {
  font-family: "Roboto", arial, sans-serif;
  color: var(--main-white);
}

h1 h2 h3 {
  font-family: "Lobster", cursive;
  letter-spacing: 3px;
  line-height: 2;
}

#navbar {
  margin: 0 auto;
  padding: 0.5rem 0;
  background-color: var(--main-red);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#navlist {
  list-style-type: none;
  text-align: center;
  line-height: 1.5;
  font-size: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  /* margin-left: -30px; */
}

#logo {
  width: 100%;
  max-width: 4rem;
  height: auto;
}

#navlist a {
  text-decoration: none;
}

#navlist a:link {
  color: var(--main-white);
}
#navlist a:visited {
  color: var(--main-white);
}
#navlist a:hover {
  color: var(--main-orange);
}
#navlist a:active {
  color: var(--main-orange);
}
#navlist a:focus {
  color: var(--main-orange);
}

#welcome-section {
  height: 100vh;
  text-align: center;
  background-color: var(--main-gray);
  padding-top: 8rem;
}

#welcome-header {
  font-size: 3rem;
  font-weight: 400;
  font-family: "Lobster", cursive;
  letter-spacing: 5px;
}

#welcome-p {
  font-size: 1.75rem;
}

#projects {
  background-color: var(--main-blue);
  padding-top: 3rem;
  text-align: center;
  padding-top: 16rem;
}

#projects h2 {
  font-family: "Lobster", cursive;
  letter-spacing: 3px;
}

.project-tile {
  margin: 1rem 0.5rem 0 0.5rem;
  padding: 2rem 1rem;
  text-align: left;
  border: var(--main-gray) 2px solid;
}

.project-img {
  width: 100%;
  max-width: 25rem;
  height: auto;
  max-height: 25rem;
}

.btn {
  background-color: green;
  font-size: 1.125rem;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  display: block;
}

#contact {
  background-color: var(--main-gray);
  text-align: center;
  padding-top: 1.5rem;
}

q {
  padding-top: 0.8rem;
  letter-spacing: 3px;
  font-style: italic;
}

#contact a:link {
  color: var(--main-white);
  text-decoration: none;
}
#contact a:visited {
  color: var(--main-white);
}

#contact a:hover {
  color: var(--main-orange);
}

#contact a:active {
  color: var(--main-orange);
}

#contact a:focus {
  color: var(--main-orange);
}

#contact ul {
  padding: 1rem 0;
}

#contact li {
  padding-top: 1rem;
  line-height: 1.5;
  text-align: left;
  padding-left: 8.5rem;
}

.fab,
.fas {
  padding-right: 0.66rem;
}

footer {
  background-color: var(--main-gray);
  font-size: small;
  text-align: center;
  z-index: 5;
  position: sticky;
  bottom: 0;
  padding: 1rem 0;
}

@media only screen and (min-width: 768px) {
  #navlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  #projects {
    padding-top: 1rem;
  }

  #logo {
    width: 100%;
    max-width: 6rem;
    height: auto;
  }
}

@media only screen and (min-width: 992px) {
}
