@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Open+Sans:wght@400;600;900&display=swap");

:root {
  --font-white: #f0edee;
  --nav-black: #0d0f13;
  --project-gray: #222831;
  --back-blue: #065790;
  --main-orange: #ff9b42;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
  background-image: url("/assets/img/post-it-notes-1284667.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  opacity: 1;
}

body {
  font-family: "Open Sans", arial, sans-serif;
  color: var(--font-white);
}

h1 h2 h3 {
  font-family: "La Belle Aurore";
  letter-spacing: 5px;
  line-height: 2;
}

#navbar {
  margin: 0 auto;
  padding: 0.5rem 0;
  background-color: var(--nav-black);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#navlist {
  list-style-type: none;
  text-align: center;
  line-height: 1.5;
  font-size: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  /* margin-left: -30px; */
}

.logo {
  padding-top: 0.5rem;
  width: 100%;
  max-width: 2.5rem;
  height: auto;
}

#navlist a {
  text-decoration: none;
}

#navlist a:link {
  color: var(--font-white);
}
#navlist a:visited {
  color: var(--font-white);
}
#navlist a:hover {
  color: var(--main-orange);
}
#navlist a:active {
  color: var(--main-orange);
}
#navlist a:focus {
  color: var(--main-orange);
}

#welcome-section {
  height: 100vh;
  text-align: center;
  /* background-color: var(--back-blue); */
  /* background-image: url("/assets/img/posit-it-notes-1284667.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  padding-top: 8rem;
}

#welcome-header {
  font-size: 3rem;
  font-weight: 400;
  font-family: "La Belle Aurore";
  letter-spacing: 5px;
}

#welcome-p {
  font-size: 1.75rem;
}

#projects {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  background-color: var(--project-gray);
  /* padding-top: 3rem; */
  text-align: center;
  padding-top: 16rem;
}

#projects h2,
#projects h3 {
  font-family: "La Belle Aurore";
  letter-spacing: 3px;
  margin-bottom: 1rem;
}

.project-tile {
  /* margin: 1rem 1rem; */
  padding: 2rem 1rem;
  text-align: center;
  border: var(--back-blue) 2px solid;
  border-radius: 6px;
}

.project-tile p {
  text-align: left;
  line-height: 2;
  margin-bottom: 0.5rem;
}

.project-img {
  width: 100%;
  max-width: 25rem;
  height: auto;
  border: 2px var(--nav-black) solid;
  margin-bottom: 2rem;
  border-radius: 6px;
}

.btn {
  background-color: var(--nav-black);
  font-size: 1.125rem;
  margin-top: 2rem;
  padding: 1rem 1rem;
  display: block;
  border-radius: 6px;
  /* width: 25rem; */
  text-align: center;
  color: var(--main-orange);
}

#contact {
  /* background-color: var(--back-blue); */
  text-align: center;
  padding-top: 1.5rem;
}

q {
  padding-top: 0.8rem;
  letter-spacing: 3px;
  font-style: italic;
}

#contact a:link {
  color: var(--font-white);
  text-decoration: none;
}
#contact a:visited {
  color: var(--font-white);
}

#contact a:hover {
  color: var(--main-orange);
}

#contact a:active {
  color: var(--main-orange);
}

#contact a:focus {
  color: var(--main-orange);
}

#contact ul {
  padding: 1rem 0;
}

#contact li {
  padding-top: 1rem;
  line-height: 1.5;
  text-align: left;
  padding-left: 8.5rem;
}

.fab,
.fas {
  padding-right: 0.66rem;
}

footer {
  background-color: var(--nav-black);
  font-size: small;
  text-align: center;
  z-index: 5;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  padding: 1rem 0;
}

@media only screen and (min-width: 768px) {
  #navlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  #welcome-header {
    font-size: 6rem;
    font-weight: 900;
    font-family: "La Belle Aurore";
    letter-spacing: 0.8rem;
    filter: drop-shadow(0 0 0.5rem #ca3b1b);
  }

  .grid-container {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
  }

  #logo {
    width: 100%;
    max-width: 6rem;
    height: auto;
  }
}

@media only screen and (min-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
